/* BASIC */

:root{
  /*COLORS*/
  --black: #09090c;
  --grey: #a4b2bc;
  --white: #fff;

  --dark-theme-base-color: #212121;
  --dark-theme-background-color: #3d3d3d;
  --dark-theme-secondary-color: #aaaaaa;
  --dark-theme-text-color: #fff;
  /* --dark-theme-secondary-color: #bcbcbc;
  --dark-theme-disabled-color: #646464;
  --dark-theme-divider-color: #3c3c3c; */
  
  
  --light-theme-base-color: #d1dcdc;
  --light-theme-background-color: #fff;
  --light-theme-secondary-color: #a4b2bc; /*BLOM JADI:V*/
  --light-theme-text-color: #09090c;
  /* --light-theme-secondary-color: #bcbcbc;
  --light-theme-disabled-color: #646464;
  --light-theme-divider-color: #3c3c3c; */


  /* --light-sidebar-bg: #fafafa;
  --light-bg: #e4e5f1;
  --light-font-black: #0a2105; */

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  /* background-color: var(--background); */
  font-family: 'Source Sans Pro', sans-serif;
}

/*CUSTOM SCROLL BAR*/
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: var(--grey);
}

::-webkit-scrollbar-thumb{
  background: var(--black);
  border-radius: 50px;
}
/*END CUSTOM SCROLL BAR*/